
:root {
  --color1: #33AAEE;
  --color2: #4996C3;
  --color3: #076AA3;
  --color4: #054F7A;
  --color5: #033552;
}


body {
  background-color: var(--color5);
  color: black; 
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}


.chatbox-container {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.chatbox-header {
  background-color: var(--color1);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.chatbox-body {
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  flex-grow: 1;
}


.chatbox-footer {
  padding: 10px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  margin: 5px 0;
}

.message.bot {
  text-align: left;
}

.message.user {
  text-align: right;
}

.chat-input {
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.send-btn {
  background-color: var(--color1);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.send-btn:hover {
  background-color: var(--color2);
}
